@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import "./assets/styles/variable.scss";
@import "./assets/styles/global.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: $primary-white;
}

.content-body {
  background-color: $primary-grey;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $primary-white;
}
