@import "../../assets/styles/variable.scss";

footer {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-blue;
  color: $primary-white;

  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 28px;
    font-weight: 500;
    margin: 20px;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
    .footer-copyright {
      font-size: 14px;
    }
    .social-block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
}
