@import "../../assets/styles/variable.scss";
$bg-img: url("../../assets/images/mainStatic.jpeg");

.banner {
  background-image: $bg-img;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .banner__content {
    width: 50%;
    margin: 10px;
    padding: 30px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
